@import '@ambilight-taro/core/lib/assets/index.scss';

@font-face {
  font-family: al-slogan;
  src: url('https://cdn.salted-fish.org/ambilight-taro/demo/Bonbon-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: block;
}
