{
  "extends": [
    "taro/react",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
    "plugin:unicorn/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "react-hooks", "simple-import-sort", "sort-keys-fix"],
  "rules": {
    "quotes": ["error", "single"],
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "unicorn/prevent-abbreviations": [
      "error",
      {
        "replacements": {
          "props": false,
          "var": false
        }
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "singleQuote": true
      }
    ]
  }
}
