@import 'pkg:@ambilight-taro/core';

$root: with-prefix('page-view');

.#{$root} {
  &__interact-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: z-index('interact');
  }
}
