@import '@ambilight-taro/core/lib/assets/index.scss';


.page-popup {
  color: semantic-color('font-primary');
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__content {
    flex: 1;
    min-height: 0;
  }

  &__pop {
    .al-v1-popup__content {
      background: semantic-color('bg-brand');
    }
  }


  &__pop-content {
    background: semantic-color('bg');
    line-height: 28px;
    padding: 8px;
    box-sizing: border-box;

    &--top,&--bottom {
      height: 256px;
    }

    &--left,&--right {
      width: 128px;
      height: 100%;
    }

    &--center {
      width: 256px;
      height: 360px;
    }
  }

  &__placeholder {
    height: 520px;
    background: color-palette('black', 50);
    border-radius: border-radius('md');
    margin: 0 8px;
    font-size: font-size('comment');
    justify-content: center;
    display: flex;
    padding-top: 48px;
  }
}
