@use "sass:string";

@import './size.scss';
@import './helper.scss';
@import './name.scss';

$_font-setting-map: (
  'super-headline':
    (
      'size': size(44),
      'line-height': size(68)
    ),
  'headline':
    (
      'size': size(36),
      'line-height': size(56)
    ),
  'sub-headline':
    (
      'size': size(32),
      'line-height': size(48)
    ),
  'form':
    (
      'size': size(30),
      'line-height': size(44)
    ),
  'text':
    (
      'size': size(28),
      'line-height': size(40)
    ),
  'comment':
    (
      'size': size(24),
      'line-height': size(32)
    ),
  'assist':
    (
      'size': size(20),
      'line-height': size(28)
    )
);

$_font-family-map: (
  'monospace': (
    'name': 'al-monospace',
    'url': 'https://cdn.salted-fish.org/ambilight-taro/font/CourierPrime-Regular.ttf',
    'value': 'CourierPrime, "Lucida Console", Monaco, monospace'
  )
);

@function font-size($key) {
  @return var(
    #{_get-property-css-var-name('font-size', '#{$key}')},
    #{_get-safe-map-value(_get-safe-map-value($_font-setting-map, $key), 'size')}
  );
}

@function line-height($key) {
  @return var(
    #{_get-property-css-var-name('line-height', '#{$key}')},
    #{_get-safe-map-value(_get-safe-map-value($_font-setting-map, $key), 'line-height')}
  );
}

@mixin mix-font($key) {
  font-size: font-size($key);
  line-height: line-height($key);
}

@each $name, $detail in $_font-family-map {
  @font-face {
    font-family: _get-safe-map-value($detail, 'name');
    src: url(_get-safe-map-value($detail, 'url')) format('truetype');
    font-style: normal;
    font-display: block;
  }
}

@mixin mix-font-family($key) {
  font-family: var(
    #{_get-property-css-var-name('font-family', '#{$key}')},
    #{_get-safe-map-value(_get-safe-map-value($_font-family-map, $key), 'value')}
  );
}
