@import '@ambilight-taro/core/lib/assets/index.scss';


.page-nav-bar-pop {
  color: semantic-color('font-primary');

  &__wrapper {
    height: 100vh;
  }

  &__nav-bar {
    background: linear-gradient(0deg, color-palette('extreme', 'white'), color-palette('purple', '50'));
    box-shadow: 0 0 size(12) semantic-color('shadow');
  }

  &__header {
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
  }

  &__search-bar {
    background: semantic-color('divider');
    font-size: font-size('assist');
    color: semantic-color('font-secondary');
    height: size(54);
    border-radius: size(27);
    width: size(360);
    font-weight: normal;
    display: flex;
    align-items: center;
    padding-left: size(27);
  }

  &__before {
    height: 240px;
    background: color-palette('black', '50');
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: font-size('text');
  }

  &__after {
    height: 1080px;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  &__image {
    width: 300px;
    margin-top: -44px;
    transform: rotate(180deg);
  }
}
