@import './name.scss';
@import './helper.scss';
@import './color-palette.scss';

@function color-palette($key, $gradation) {
  $color-map: (
    'purple': $_purple-gradation-map,
  );

  $match-gradation-map: _get-safe-map-value($color-map, $key);
  $match-color: _get-safe-map-value($match-gradation-map, '#{$gradation}');

  @return var(#{_get-property-css-var-name('color', '#{$key}-#{$gradation}')}, #{$match-color});
}
