@import './name.scss';
@import './helper.scss';
@import './color-palette.scss';

$_colors-map: (
  'red': $_red-gradation-map,
  'purple': $_purple-gradation-map,
);

@function color-palette($color, $gradation) {
  $match-gradation-map: _get-safe-map-value($_colors-map, $color);
  $match-color: _get-safe-map-value($match-gradation-map, '#{$gradation}');

  @return var(#{_get-property-css-var-name('color', '#{$color}-#{$gradation}')}, #{$match-color});
}
